.back-btn{
    position: relative;
    top: 30px;
    left: 30px;
}

.mail-box {
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    background-color: #269abc;
}

.receiver-address-div{

}