.back-btn{
    position: absolute;
    top: 30px;
    left: 30px;
    outline: none;
    border: none;
}

.back-btn > span{
    width: 100%;
    height: 100%;
}

.back-btn:hover{

}

.mail-box {
    /*position: absolute;*/
    margin: 50px;
}

.mail-box>div{
    padding: 5px 20px;
}

.mail-box .title{
    font-size: large;
}

.mail-box .time{
    font-size: small;
}

.mail-box .email{
    font-size: small;
}

.mail-box > div:after{
    height: 1px;
    width: 100%;
    background-color: #4C4C4C;
}
