<link rel="stylesheet" href="/css/home.css"/>
<link rel="stylesheet" href="/css/new.css"/>
<div class="container-fluid" >
    <div ng-include="'/template/common/navbar.html'"></div>
    <div ng-include="'/template/common/sidebar.html'"></div>
    <div class="content-div" ng-controller="newEmailController">
        <div class="new-main">
            <form name="newEmailForm">
                <div class="form-group">
                    <label>收件人</label>
                    <span class="add-btn" ng-click="addNew()"><i class="glyphicon glyphicon-plus-sign"></i></span>
                    <input ng-repeat="to in tolist track by $index" ng-model="tolist[$index]" ng-class="{'new-red':to==undefined}"
                           type="email" class="form-control" placeholder="Email Address  e.g. sample@163.com">
                </div>
                <div class="form-group">
                    <label>主题</label>
                    <input ng-model="subject" type="text" class="form-control" placeholder="邮件标题 - title">
                </div>
                <div text-angular ng-model="content"></div>
                <button class="btn btn-success" ng-click="Send()">发送</button>
            </form>
        </div>
    </div>
</div>