<link rel="stylesheet" href="/css/home.css"/>
<link rel="stylesheet" href="/css/manager.css"/>
<div class="container-fluid">
    <div ng-include="'/template/common/navbar.html'"></div>
    <div ng-include="'/template/common/sidebar.html'"></div>

    <div class="content-div">
        <form class="manager-form" ng-controller="managerConfController" ng-init="onPageLoad()">
            <div class="form-group">
                <label>Username</label>
                <input type="email" class="form-control" placeholder="Email@163.com" ng-model="conf.username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password of email" ng-model="conf.password">
            </div>
            <div class="form-group">
                <label>Hostname - smtp</label>
                <input type="text" class="form-control" placeholder="e.g. smtp.163.com" ng-model="conf.hostname_smtp">
            </div>
            <div class="form-group">
                <label>Hostname - imap</label>
                <input type="text" class="form-control" placeholder="e.g. imap.163.com" ng-model="conf.hostname_imap">
            </div>
            <button type="submit" class="btn btn-success" ng-click="onSave()">保存</button>
            <label>{{message}}</label>
        </form>
    </div>
</div>