body{
    margin: 0;
    padding: 0;
}
.navbar-div{
    background-color: #4C4C4C;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.navbar-div div, .navbar-div button {
    color: #ffffff;
}

.exit_btn{
    height: 100%;
    outline: none !important;
    background-color: #4C4C4C;
    border:none;
    transition: background 300ms ease-in-out;
}

.exit_btn:hover {
    background-color: #cccccc;
}

.username_div{
    font-size: 20px;
}