.sidebar-div{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    background-color: #9C9C9C;
    width: 200px;
    padding-top: 20px;
}

.sidebar-div ul{
    margin: 0 0 10px 0;
    background-color: #9C9C9C;
    list-style: none;
    padding: 0;
}


.sidebar-div li{
    width: 100%;
    line-height: 40px;
    font-size: medium;
    cursor: pointer;
    background-color: #9C9C9C;
    color: #ffffff;

    transition: color 150ms ease-in-out;
    -moz-transition:color 150ms ease-in-out; /* Firefox 4 */
    -webkit-transition:color 150ms ease-in-out; /* Safari and Chrome */
    -o-transition:color 150ms ease-in-out; /* Opera */
}

.sidebar-div a{
    display:block;
    text-decoration: none;

    transition: color 150ms ease-in-out;
    -moz-transition:color 150ms ease-in-out; /* Firefox 4 */
    -webkit-transition:color 150ms ease-in-out; /* Safari and Chrome */
    -o-transition:color 150ms ease-in-out; /* Opera */
}


.sidebar-div a span {
    margin-left: 25px;
}


.sidebar-div li:hover{
    background-color: #B4B4B4;
}

.division-div{
    height: 10px;
    border-bottom: 1px solid #7E7D7D;
    margin-bottom: 15px;
    margin-top: -3px;
}

.division-div span {
    position: relative;
    left: 80%;
    z-index: 5;
    background-color: #9C9C9C;
    font-size: small;
}

.white {
   color: #ffffff;
}

.grey {
    padding-left: 2px;
    padding-right: 2px;
    color: #7E7D7D;
}