.sidebar-div{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    background-color: #9C9C9C;
    width: 200px;
}

.sidebar-div ul{
    margin: 0 0 10px 0;
    background-color: #9C9C9C;
    list-style: none;
    padding: 0;
}


.sidebar-div li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: medium;
    text-indent: 25px;
    cursor: pointer;
    transition: background 150ms ease-in-out;
    background-color: #9C9C9C;
    margin-top: 10px;
    color: #ffffff;
}

.sidebar-div li:hover{
    background-color: #B4B4B4;
    margin-top: 10px;

}

.division-div{
    border-bottom: 1px solid #7E7D7D;
}

.division-div span {
    position: relative;
    left: 80%;
    top: 10px;
    z-index: 5;
    background-color: #9C9C9C;
    font-size: small;
}

.white {
   color: #ffffff;
}

.grey {
    padding-left: 2px;
    padding-right: 2px;
    color: #7E7D7D;
}