<link rel="stylesheet" href="/css/distribute/add.css"/>
<link rel="stylesheet" href="/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="/css/home.css"/>
<div class="container-fluid">
    <div ng-include="'/template/common/navbar.html'"></div>
    <div ng-include="'/template/common/sidebar.html'"></div>

    <div class="content-div" ng-controller="distributeListController" ng-init="onPageLoad()">
        <button class="row back-btn">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </button>
        <div class="mail-box">
            <div class="row">
                <div class="col-sm-10 title">{{mail.subject}}</div>
                <div class="col-sm-2 time">{{mail.date}}</div>
            </div>
            <div class="row has-division">
                <div class="col-sm-12 email">{{mail.from}}</div>
            </div>

            <div class="row has-division">
                <div class="receiver-address-div col-sm-12">分发</div>
            </div>

            <div class="row">
                <div class="receiver-address-div col-sm-4">
                    处理人员
                    <label ng-repeat="user in users" class="label label-primary" ng-if="user.id == selectedHandler.id">{{user.name}}</label>
                    <select ng-model="selectedHandler.id" style="width: 100px">
                        <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
                    </select>
                </div>
                <div class="receiver-address-div col-sm-6">设定时限</div>
                <div class="receiver-address-div col-sm-2">
                    <button class="btn btn-primary" ng-click="onDistribute()">分发</button>
                </div>
            </div>
            <div class="row has-division">
                <div class="receiver-address-div col-sm-12">
                    查阅人员
                    <label style="margin-right: 5px" ng-click="deleteUser($index)" class="label label-success" ng-repeat="user in selectedUsers track by $index">{{user.name}}</label>

                    <select ng-if="!showClick" ng-model="selectedUser"
                               ng-options="user as user.name for user in users"
                                ng-change="selectUser(selectedUser)"
                               style="width: 100px" >
                        <option></option>
                    </select>
                    <span ng-if="showClick" ng-click="addClick()" class="glyphicon glyphicon-plus-sign"></span>
                </div>
                <div class="division-line col-sm-12"></div>
            </div>

            <div class="row has-division">
                <div class="receiver-address-div col-sm-12">
                    <label>{{mail.tag}}</label>
                </div>
            </div>

            <div class="row has-division">
                <div class="receiver-address-div col-sm-12">{{mail.content}}</div>
            </div>

        </div>
    </div>

</div>